
html, body, div, h2, p, h1, h2, h3, h4, input, span, a, textarea, button
    margin 0
    padding 0

html, body {
  -webkit-user-select none
}

input, textarea {
  border none
}

a {
  text-decoration none
}

.wrapper 
    height 100%

setPadding()
    padding-bottom 100px
    box-sizing border-box

setBg() 
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    background #f5f5f5

img[lazy='loading'] {
  background-color #eee
}

.lazyload[lazy='loading'] {
  background-color #eee
  background-image url('../images/default_bg01.png') !important
  background-size cover
}

.lazyBg[lazy='loading'] {
  background-color #eee
}

.btn-active {
    position relative
    overflow hidden
    &:after {
        display block
        content ''
        width 100%
        height 100%
        position absolute
        left 0
        top 0
        background rgba(0,0,0,.1)
    }
}

img {
  pointer-events none
}
